{% extends "base.html" %}

{% block title %}Inicio{% endblock %}

{% block contenido %}

<h5>Hoteles</h5>
<h3>da</h3>

    <main>
        <div class="contenedor">
            <div class="columna">
                <img src="{{ url_for('static', filename='images/hotel1.jpg') }}" 
                  alt="fenix1" 
                  width="270" height="270">
                  <h3>da</h3>
                <h4>Hotel los Almendros</h4>
                <h3>da</h3>
                
                <p class="justificado">Hotel Los Almendros brinda hospedaje cómodo con habitaciones equipadas, Wi-Fi gratuito, recepción 24 h, y terraza. Ideal para quienes buscan descanso y buena atención.</p>
                
                <a href="https://maps.app.goo.gl/tc185Gmz1iUZS8m57" target="_blank">
                 <button class="mi-boton">como llegar</button>
                 </a>
            </div>
            <div class="columna">
                <img src="{{ url_for('static', filename='images/hotel2.jpg') }}" 
                  alt="fenix3" 
                  width="270" height="270">
                  <h3>da</h3>
                <h4>Servituristico la Esmeralda</h4>
                <h3>da</h3>
                
                <p class="justificado">Serviturísticos La Esmeralda ofrece alojamiento cómodo con TV, WiFi, restaurante local, jardín y estacionamiento gratuito. Se admiten mascotas.</p>
               
                
                <a href="https://maps.app.goo.gl/G7DYpvtMLcRps6119" target="_blank">
                 <button class="mi-boton">como llegar</button>
                 </a>   
            </div>
            <div class="columna">
                <img src="{{ url_for('static', filename='images/hotel3.jpg') }}" 
                  alt="fenix2" 
                  width="270" height="270">
                  <h3>da</h3>
                <h4>Hotel el Peñon</h4>
                <h3>da</h3>
                <p class="justificado">Ofrece una experiencia cómoda, acogedora y orientada al descanso, ideal para turistas que buscan explorar la belleza natural de la región.</p>
                <h3>da</h3>
                <a href="https://maps.app.goo.gl/mnTwzrAjR4jjSGGh8" target="_blank">
                 <button class="mi-boton">como llegar</button>
                 </a>
            </div>


        </div>
    </main>
<h3>da</h3>
<h3>da</h3>

 <main>
        <div class="contenedor">
            <div class="columna">
                <img src="{{ url_for('static', filename='images/hotel4.jpg') }}" 
                  alt="fenix1" 
                  width="260" height="260">
                  <h3>da</h3>
                <h4>Hotel Las Cabañas</h4>
                <h3>da</h3>
                <p class="justificado">Hotel Las Cabañas es un acogedor alojamiento rodeado de naturaleza, ubicado a pocos minutos del pueblo. Ofrece un ambiente tranquilo y familiar, ideal para descansar y disfrutar del paisaje.</p>
                <a href="https://maps.app.goo.gl/oPxTbhz5VuKoGdcj9" target="_blank">
                <button class="mi-boton">como llegar</button>
                </a>
            </div>
            <div class="columna">
                <img src="{{ url_for('static', filename='images/hotel5.jpg') }}" 
                  alt="fenix3" 
                  width="260" height="260">
                  <h3>da</h3>
                <h4>Hospedaje El Dorado</h4>
                <h3>da</h3>
                <p class="justificado">Hospedaje El Dorado combina ubicación práctica, atención amable y el encanto de un pueblo tranquilo. Ideal para viajeros de paso o quienes buscan una estancia sencilla y cómoda.</p>
                <a href="https://maps.app.goo.gl/BkPoZCZiTxjFzxYu6" target="_blank">
                <button class="mi-boton">como llegar</button>
                </a>
            </div>
        </div>
    </main>




<h3>da</h3>

{% endblock %}
