{% extends "base.html" %}

{% block title %}Inicio{% endblock %}

{% block contenido %}




<h5>Lugares que no te puedes perder</h5>
<h3>da</h3>
   <main>
        <div class="contenedor">
            <div class="columna">
                <img src="{{ url_for('static', filename='images/lugar1.png') }}"
                  alt="imagen 2" 
                  width="250" height="250">
                  <h3>da</h3>
                <h4>Pozo (Balneario) La Calavera </h4>
                <h3>da</h3>
                <p class="justificado">El Pozo La Calavera es un balneario natural, conocido por sus aguas cristalinas y su entorno pintoresco. Es un lugar ideal para relajarse, nadar y disfrutar de la naturaleza. Los visitantes pueden explorar las formaciones rocosas únicas que rodean el pozo.</p>
                 <a href="https://maps.app.goo.gl/ji9sbzvHnmYqhBVs6" target="_blank">
                 <button class="mi-boton">como llegar</button>
                 </a>

            </div>
            <div class="columna">
                <img src="{{ url_for('static', filename='images/lugar2.jpg') }}"
                  alt="imagen 3" 
                  width="250" height="250">
                  <h3>da</h3>
                <h4>Balneario La Cristalina</h4>
                <h3>da</h3>

                <p class="justificado">El Balneario La Cristalina es un destino popular en Santa María, conocido por su ambiente tranquilo. Es un lugar perfecto para familias y grupos que buscan disfrutar de un día al aire libre.</p>
                <h3>da</h3>
                <h3>da</h3>
                <a href="https://maps.app.goo.gl/VwnJLsaRmp5941wz9" target="_blank">
                 <button class="mi-boton">como llegar</button>
                 </a>
                
            </div>

            <div class="columna">
                <img src="{{ url_for('static', filename='images/lugar3.png') }}" 
                  alt="imagen 4" 
                  width="250" height="250">
                  <h3>da</h3>                
                  <h4>Cascada La 70 </h4>
                  <h3>da</h3>
                <p class="justificado">La Cascada La 70 es una impresionante caída de agua que ofrece un espectáculo natural para los visitantes. Rodeada de vegetación exuberante, es un lugar ideal para los amantes de la naturaleza y la fotografía.</p>
                <h3>da</h3>
                <a href="https://maps.app.goo.gl/bQoimK1uA5mjgAAC7" target="_blank">
                 <button class="mi-boton">como llegar</button>
                 </a>
                
            </div>
        </div>
    </main>

<h3>da</h3>
<h3>da</h3>
    <main>
        <div class="contenedor">
            <div class="columna">
                <img src="{{ url_for('static', filename='images/lugar4.jpg') }}" 
                  alt="fenix1" 
                  width="260" height="260">
                  <h3>da</h3>
                <h4>El Peñón del Lago</h4>
                <h3>da</h3>
                <p class="justificado">Balneario y parador turístico que se encuentra muy cerca del parque principal del municipio. Un destino popular para refrescarse y disfrutar de la naturaleza, con una piscina de agua natural sin cloro</p>
                <h3>da</h3>
                <a href="https://maps.app.goo.gl/QnXRr638H49oJZZu7" target="_blank">
                <button class="mi-boton">como llegar</button>
                </a>
            </div>
            <div class="columna">
                <img src="{{ url_for('static', filename='images/lugar5.jpg') }}" 
                  alt="fenix3" 
                  width="260" height="260">
                  <h3>da</h3>
                <h4>Embalse la Esmeralda</h4>
                <h3>da</h3>

                <p class="justificado">Un embalse con paisajes impresionantes, conocido por ser una de las primeras hidroeléctricas del país.</p>
                <h3>da</h3>
                <h3>da</h3>
                <h3>da</h3>
                
                <a href="https://maps.app.goo.gl/V5CJsT6maLGejGua9" target="_blank">
                <button class="mi-boton">como llegar</button>
                </a>
            </div>
        </div>
    </main>
<body></body>
<a href="https://tiktok.com/@andrescardenas026" target="_blank" class="boton-flotante">Descubre Más</a>
</body>


{% endblock %}
