{% extends "base.html" %}

{% block title %}Inicio{% endblock %}

{% block contenido %}

<h5>Restaurantes</h5>
<h3>da</h3>

<main>
        <div class="contenedor">
            <div class="columna">
                <img src="{{ url_for('static', filename='images/restaurante1.jpg') }}" 
                  alt="imagen 2" 
                  width="250" height="250">
                  <h3>da</h3>
                <h4>Restaurante Polideportivo</h4>
                <h3>da</h3>
                <p class="justificado"></p>
                 <a href="https://maps.app.goo.gl/Tj9YKvViGVYYDJn99" target="_blank">
                 <button class="mi-boton">como llegar</button>
                 </a>
            </div>
            <div class="columna">
                <img src="{{ url_for('static', filename='images/restaurante2.jpg') }}" 
                  alt="imagen 3" 
                  width="250" height="250">
                  <h3>da</h3>
                <h4>Restaurante Pie De Monte Llanero</h4>
                <h3>da</h3>
                <p class="justificado"></p>
                <a href="https://maps.app.goo.gl/ZDwKsRDTb3N88Bvf7" target="_blank">
                <button class="mi-boton">como llegar</button>
                </a>
            </div>

            <div class="columna">
                <img src="{{ url_for('static', filename='images/restaurante3.jpg') }}" 
                  alt="imagen 4" 
                  width="250" height="250">
                  <h3>da</h3>
                  <h4>Restaurante Punto Express</h4>
                  <h3>da</h3>
                <p class="justificado"></p>
                <a href="https://maps.app.goo.gl/499pMLo7DcTTdJ3VA" target="_blank">
                <button class="mi-boton">como llegar</button>
                </a>
            </div>
        </div>
    </main>
<h3>da</h3>
<h3>da</h3>
    <main>
        <div class="contenedor">
            <div class="columna">
                <img src="{{ url_for('static', filename='images/restaurante4.jpg') }}" 
                  alt="fenix1" 
                  width="260" height="260">
                  <h3>da</h3>
                <h4>Restaurante Sabor Casero</h4>
                <h3>da</h3>
                <p class="justificado"></p>
                <a href="https://maps.app.goo.gl/YvFzkEbBha35FTCCA" target="_blank">
                <button class="mi-boton">como llegar</button>
                </a>
            </div>
            <div class="columna">
                <img src="{{ url_for('static', filename='images/restaurante5.jpg') }}" 
                  alt="fenix3" 
                  width="260" height="260">
                  <h3>da</h3>
                <h4>Gastro Bar la 85</h4>
                <h3>da</h3>
                <p class="justificado"></p>
                <a href="https://maps.app.goo.gl/94JRVoVegZJa8ygH9" target="_blank">
                <button class="mi-boton">como llegar</button>
                </a>
            </div>
        </div>
    </main>

<h3>da</h3>
<h3>da</h3>


    <main>
        <div class="contenedor">
            <div class="columna">
                <img src="{{ url_for('static', filename='images/restaurante6.jpg') }}" 
                  alt="imagen 2" 
                  width="250" height="250">
                  <h3>da</h3>
                <h4>Punto Cero Gastro-Bar</h4>
                <h3>da</h3>
                <p class="justificado"></p>
                 <a href="https://maps.app.goo.gl/4HYDgEkC7JTShu7N7" target="_blank">
                 <button class="mi-boton">como llegar</button>
                 </a>
            </div>
            <div class="columna">
                <img src="{{ url_for('static', filename='images/restaurante7.jpg') }}" 
                  alt="imagen 3" 
                  width="250" height="250">
                  <h3>da</h3>
                <h4>Comidas rápidas B3</h4>
                <h3>da</h3>
                <p class="justificado"></p>
                <a href="https://maps.app.goo.gl/AraB8y3ofy525gMi8" target="_blank">
                <button class="mi-boton">como llegar</button>
                </a>
            </div>

            <div class="columna">
                <img src="{{ url_for('static', filename='images/restaurante8.jpg') }}" 
                  alt="imagen 4" 
                  width="250" height="250">
                  <h3>da</h3>
                  <h4>Pizza House</h4>
                  <h3>da</h3>
                <p class="justificado"></p>
                <a href="https://maps.app.goo.gl/yyG2QKpgtnW2NFwL8" target="_blank">
                <button class="mi-boton">como llegar</button>
                </a>
            </div>
        </div>
    </main>
<h3>da</h3>
<h3>da</h3>
    <main>
        <div class="contenedor">
            <div class="columna">
                <img src="{{ url_for('static', filename='images/restaurante9.jpg') }}" 
                  alt="fenix1" 
                  width="260" height="260">
                  <h3>da</h3>
                <h4>El Korral</h4>
                <h3>da</h3>
                <p class="justificado"></p>
                <a href="https://maps.app.goo.gl/MmrU16MRDRiPMHHu9" target="_blank">
                <button class="mi-boton">como llegar</button>
                </a>
            </div>
            <div class="columna">
                <img src="{{ url_for('static', filename='images/restaurante10.jpg') }}" 
                  alt="fenix3" 
                  width="260" height="260">
                  <h3>da</h3>
                <h4>Fruttato gourmet</h4>
                <h3>da</h3>
                <p class="justificado"></p>
                <a href="https://maps.app.goo.gl/SgFDk9JRJdkN5Wco9" target="_blank">
                <button class="mi-boton">como llegar</button>
                </a>
            </div>
        </div>
    </main>









{% endblock %}
